body{
  padding: 0;
  margin: 0;
  background-color: #d2dbff;
}

.home-btn{
  background-color: rgb(255, 255, 255);
  height: 35px;
  width: 100px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
}
.contact-btn{
  background-color: rgb(255, 255, 255);
  height: 35px;
  width: 100px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
}
.home-btn:hover{
  border: 2px solid #009688;
  background: aqua;
  transition: 1s;
}
.contact-btn:hover{
  border: 2px solid black;
    background: aqua;
    transition: 1s;
}
.submit-btn{
  background-color: rgb(255, 255, 255);
  height: 35px;
  width: 100px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}
.submit-btn:hover{
  border: 2px solid #009688;
  background: aqua;
  transition: 1s;
}
.contact-us{
  text-align: center;
  margin: 50px;
  
}
.contact-col{
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.location{
  margin-left: 23%;  
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20px;
  text-align: center;
}

.nav-links ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #009688;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.text-box{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.contact-col textarea {
  width: 70%;
  padding: 10px;
  margin-bottom: 17px;
  outline: 2px;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-top: 25px;
}
.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}
